<div class="card flex flex-column align-items-center gap-3 mt-5">
  <h2 class="text-center">Cambiar contraseña de administrador</h2>
  <p *ngIf="adminUser">Usuario actual: <strong>{{ adminUser }}</strong></p>

  <p-password [(ngModel)]="newPassword"
              [toggleMask]="true"
              placeholder="Nueva contraseña"
              inputStyleClass="w-full"
              styleClass="w-20rem">
  </p-password>



  <div class="flex justify-content-center gap-3 mt-3">
    <button pButton type="button"
            label="Cambiar contraseña"
            class="p-button-primary"
            (click)="cambiarPassword()">
    </button>

    <button pButton type="button"
            label="Atrás"
            class="p-button-secondary"
            (click)="volver()">
    </button>
  </div>
</div>


