


<!--div-- class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">

      <ng-container *ngIf="isExternal; else showLogoOnly">
        <div class="external-header">

          <span class="external-text">Este sorteo se hizo con:</span>
               <a href="https://supersorteo-5f1f3.firebaseapp.com/" target="_blank" rel="noopener">
                <img
                  src="assets/logoSorteo.jpg"
                  alt="Logo Sorteo"
                  class="toolbar-logo external-logo"
                />
              </a>
        </div>
      </ng-container>

      <ng-template #showLogoOnly>
        <div class="floating-button">
          <img src="assets/logoSorteo.jpg"
               alt="Logo Sorteo"
               class="toolbar-logo" routerLink="/home" />
        </div>
      </ng-template>
    </div>

    <div class="p-toolbar-group-center">
      <div class="toolbar-center-content">
        <ng-container *ngIf="isExternal; else normalGreeting">

        </ng-container>
        <ng-template #normalGreeting>
          <h3 class="toolbar-greeting">
            Hola,
            <span id="usuario-registrado" class="text-primary">{{ userName }}</span>!
          </h3>
        </ng-template>
      </div>
    </div>

    <div class="p-toolbar-group-end">

    </div>
  </p-toolbar>
</!--div-->


<!-- navbar.component.html -->
<div class="card" *ngIf="!isExternal">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <ng-container *ngIf="isExternal; else showLogoOnly">
        <div class="external-header">
          <span class="external-text">Este sorteo se hizo con:</span>
          <a href="https://supersorteo-5f1f3.firebaseapp.com/" target="_blank" rel="noopener">
            <img
              src="assets/logoSorteo.png"
              alt="Logo Sorteo"
              class="toolbar-logo external-logo"
            />
          </a>
        </div>
      </ng-container>

      <ng-template #showLogoOnly>
        <div class="floating-button">
          <img
            src="assets/logoSorteo.png"
            alt="Logo Sorteo"
            class="toolbar-logo"
            routerLink="/home"
          />
        </div>
      </ng-template>
    </div>

    <div class="p-toolbar-group-center">
      <div class="toolbar-center-content">
        <ng-container *ngIf="isExternal; else normalGreeting">
        </ng-container>
        <ng-template #normalGreeting>
          <h3 class="toolbar-greeting">
            Hola,
            <span id="usuario-registrado" class="text-primary">{{ userName }}</span>!
          </h3>
        </ng-template>
      </div>
    </div>

    <div class="p-toolbar-group-end"></div>
  </p-toolbar>
</div>
