/* You can add global styles to this file, and also import other style files */
//@tailwind base;
//@tailwind components;
//@tailwind utilities;
//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}





body {
  font-family: 'Montserrat', sans-serif;
}

.p-sidebar-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;
  z-index: 1000 !important;
}





::ng-deep .p-sidebar {
 background: rgba(255, 255, 255, 0.25) !important; /* 🔥 Blanco con 25% de opacidad */
  backdrop-filter: blur(10px); /* 🔥 Suaviza el fondo */
}


.p-toast {
  z-index: 2000 !important; /* Mayor que el z-index predeterminado de p-dialog (~1000) */
}

.p-toast .p-toast-message {
  z-index: 2000 !important; /* Asegura que los mensajes individuales estén por encima */
}

 .p-dialog {
  z-index: 1000 !important; /* Opcional: fija el z-index del modal para evitar conflictos */
}


